// Colores
$button_color:  hsl(322, 100%, 66%);
$rosa_lineado: hsl(321, 100%, 78%);
$fondo_verdoso: hsl(192, 100%, 9%);
$fondo_claro: hsl(207, 100%, 98%);
$fondo_claro_rojo: hsl(0, 100%, 63%);
$negro: #000000;
$blanco: #FFFFFF;


// Media Querys
$telefono: 480px;
$tablet: 768px;
$laptop: 1024px;
$pantallaC: 1240px;

// Fuentes
$fuente_cabecera: 'Open Sans', sans-serif;
$fuente_cuerpo: 'Poppins', sans-serif;



// unidades
$separacion: 5rem;